    
    
    
    
    
    
    <link rel="stylesheet" href="/css/bootstrap.min.css">
<title>Secretaria</title>

</head>

<body>

    <nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <h4>Bienvenido {{name}}</h4>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03"
                aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Home
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/eventosSecretaria">Eventos</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/logout">
                            <p class="text-danger">Cerrar Sesión</p>
                        </a>
                    </li>

                    <script>
                        // Obtener referencia a todos los enlaces del menú desplegable
                        const dropdownLinks = document.querySelectorAll('.nav-link.dropdown-toggle');

                        // Iterar sobre cada enlace del menú desplegable
                        dropdownLinks.forEach(function (dropdownLink) {
                            // Obtener referencia al menú desplegable asociado a cada enlace
                            const dropdownMenu = dropdownLink.nextElementSibling;

                            // Agregar un controlador de eventos a cada enlace del menú desplegable
                            dropdownLink.addEventListener('click', function () {
                                // Alternar la clase 'show' en el menú desplegable correspondiente
                                dropdownMenu.classList.toggle('show');
                            });
                        });
                    </script>

                </ul>
            </div>
        </div>
    </nav>


    
    
    
    
    
    
    
    <style>
        html,
        body {
            height: 87%;


        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;

        }
    </style>

    <div class="container">
    <form action="" method="post">
        <br><br>
        <h1 class="text-center">Registrar Evento</h1>
        <div class="row justify-content-center">

            <input type="hidden" name="responsable" value="{{correo}}">

            <div class="row">

                <div class="form-group text-center">
                    <label for="exampleSelect1" class="form-label mt-4">Salas</label>
                    <select class="form-select" id="tipo" onchange="mostrarCampos(this.value)" name="idSala">
                        {{#each idSalas}}
                        <option value="{{this}}">{{this}}</option>
                        {{/each}}
                    </select>
                </div>

                <div class="col-6 text-center">
                    <label class="col-form-label col-form-label-sm mt-4" for="inputSmall">Nombre Evento</label>
                    <input class="form-control form-control-sm" type="text" id="nombreEv" name="nombre" required>
                </div>
                <div class="col-6 text-center">
                    <label class="col-form-label col-form-label-sm mt-4" for="inputSmall">Fecha</label>
                    <input class="form-control form-control-sm" type="date" id="fecha" name="fecha" required>
                </div>
                <div class="col-12 text-center">
                    <label class="col-form-label col-form-label-sm mt-4" for="inputSmall">Descripción</label>
                    <textarea class="form-control" id="descripcion" name="descripcion" rows="3" required></textarea>
                </div>
            </div>

            <div class="col-6 text-center">
                <br><br>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </div>
    </form>
</div>
