<link rel="stylesheet" href="/css/bootstrap.min.css">
<title>Secretaria</title>

</head>

<body>

    <nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <h4>Bienvenido {{name}}</h4>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03"
                aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Home
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/eventosSecretaria">Eventos</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/logout">
                            <p class="text-danger">Cerrar Sesión</p>
                        </a>
                    </li>

                    <script>
                        // Obtener referencia a todos los enlaces del menú desplegable
                        const dropdownLinks = document.querySelectorAll('.nav-link.dropdown-toggle');

                        // Iterar sobre cada enlace del menú desplegable
                        dropdownLinks.forEach(function (dropdownLink) {
                            // Obtener referencia al menú desplegable asociado a cada enlace
                            const dropdownMenu = dropdownLink.nextElementSibling;

                            // Agregar un controlador de eventos a cada enlace del menú desplegable
                            dropdownLink.addEventListener('click', function () {
                                // Alternar la clase 'show' en el menú desplegable correspondiente
                                dropdownMenu.classList.toggle('show');
                            });
                        });
                    </script>

                </ul>
            </div>
        </div>
    </nav>



<p>{{error}}</p>