<link rel="stylesheet" href="/css/bootstrap.min.css">
<title>Nutriologo</title>

</head>

<body>

    <nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <h4>Bienvenido {{name}}</h4>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03"
                aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Home
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/crearDesayuno">Crear Desayuno</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/crearComida">Crear Comida</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/crearCena">Crear Merienda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/editarComidas">Editar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/crearMenu">Menu</a>
                    </li>



                    <li class="nav-item">
                        <a class="nav-link" href="/logout">
                            <p class="text-danger">Cerrar Sesión</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div><p>{{error}}</p></div>